<h1>Top 5 most visited sites by day</h1>
<div>
  <select ngModel="selectedDay">
    <option *ngFor="let day of days">{{day}}</option>
  </select>
</div>

<table>
  <thead>
    <th>Website</th>
    <th>Date</th>
    <th>Visitors</th>
  </thead>
  <tr *ngFor="let item of websites">
    <td>{{item.website}}</td>
    <td>{{item.date}}</td>
    <td>{{item.visitors}}</td>
  </tr>
</table>
